body, html {
    height: 95%; 
    margin: 0;
    padding: 0;
}

.header {
    margin: 0 auto;
    list-style-type: none;
    padding-bottom: 80px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 5px;
}
.header a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #222;
}
.header-left {
    float: left;
    margin-right: 20px;
}
.header-right {
    float: right;
    margin-left: 15px;
}
.header-right a {
    font-size: 13px;
}
.header li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
}
.logo:hover {
    cursor: pointer;
}

.glass {
    z-index: 2;
    border: none;
}
.mic {
    z-index: 2;
    border: none;
}

.search-bar {
    display: flex;
    flex-direction: row;
    text-align: center;
    max-width: 584px;
    border-color: rgb(133,133,133);
    border: 1px solid #dfe1e5;
    height: 44px;
    font-size: 16px;
    border-radius: 24px;
    margin: 0 auto;
    width: 95%;
}
#google {
    width: 85%;
    border: none;
    height: 44px;
    outline-width: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.search-bar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}
.mic:hover {
    cursor: pointer;
}
.glass:hover {
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}
#search {
    color: #3c4043;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    font-size: 14px;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}
#lucky {
    color: #3c4043;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    font-size: 14px;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.footer {
    margin: 0 auto;
    list-style-type: none;
    position:static;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.footer a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #70757a;
}
.footer a:hover{
    cursor: pointer;
    text-decoration: underline;
}
#country {
    width: 100%;
    font-size: 15px;
    border-bottom: 1px solid rgba(0,0,0,.24);
    padding: 15px 30px;
}
.footer-left {
    padding: 15px 30px;
    font-size: 14px;
    justify-items: left;
}
.footer-right {
    padding: 15px 30px;
    font-size: 14px;
    justify-items: right;
}
